## Machine Learning

In [50]:
import numpy as np
import pandas as pd

import pickle

from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
preprocessed_data = pd.read_csv('Absenteeism_preprocessed.csv')

In [3]:
preprocessed_data.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

In [4]:
preprocessed_data['Absenteeism Time in Hours'].median()

3.0

In [5]:
target = np.where(preprocessed_data['Absenteeism Time in Hours'] > 
                  preprocessed_data['Absenteeism Time in Hours'].median(), 1, 0)

In [6]:
data_with_target = preprocessed_data.drop(['Absenteeism Time in Hours'], axis=1)

In [7]:
data_with_target.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1

In [8]:
data_with_target['Excessive Absenteeism'] = target

In [9]:
data_with_target.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,0

In [10]:
data_with_target.iloc[:, :-1]

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,2,179,22,40,237.656,22,1,2,0
696,1,0,0,0,5,2,225,26,28,237.656,24,0,1,2
697,1,0,0,0,5,3,330,16,28,237.656,25,1,0,0
698,0,0,0,1,5,3,235,16,32,237.656,25,1,0,0
699,0,0,0,1,5,3,291,31,40,237.656,25,0,1,1

In [11]:
unscaled_input = data_with_target.iloc[:, :-1]

In [13]:
# absenteeism_scaler = StandardScaler()
# absenteeism_scaler.fit(unscaled_input)
# scaled_input = absenteeism_scaler.transform(unscaled_input)

In [20]:
# Custom Scalar not to use [0,1] variables 

class CustomScaler(BaseEstimator,TransformerMixin): 
    def __init__(self, columns, copy=True, with_mean=True, with_std=True):
        self.scaler = StandardScaler(copy=copy, with_mean=with_mean, with_std=with_std)
        self.columns = columns
        self.mean_ = None
        self.var_ = None
    
    def fit(self, X, y=None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self
    
    def transform(self, X, y=None, copy=None):
        init_col_order = X.columns
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns=self.columns)
        X_not_scaled = X.loc[:,~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [21]:
columns_to_omit = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Education']
columns_to_scale = [x for x in unscaled_input.columns.values if x not in columns_to_omit]

In [22]:
columns_to_scale

['Month Value',
 'Day of the Week',
 'Transportation Expense',
 'Distance to Work',
 'Age',
 'Daily Work Load Average',
 'Body Mass Index',
 'Children',
 'Pets']

In [23]:
absenteeism_scaler = CustomScaler(columns_to_scale)

In [24]:
absenteeism_scaler.fit(unscaled_input)
scaled_input = absenteeism_scaler.transform(unscaled_input)

C:\Users\TaimurAdil\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3438: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [35]:
scaled_input

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,0,0,0,1,0.030796,-0.800950,1.005844,0.412816,-0.536062,-0.806331,0.767431,0,0.880469,0.268487
1,0,0,0,0,0.030796,-0.800950,-1.574681,-1.141882,2.130803,-0.806331,1.002633,0,-0.019280,-0.589690
2,0,0,0,1,0.030796,-0.232900,-0.654143,1.426749,0.248310,-0.806331,1.002633,0,-0.919030,-0.589690
3,1,0,0,0,0.030796,0.335149,0.854936,-1.682647,0.405184,-0.806331,-0.643782,0,0.880469,-0.589690
4,0,0,0,1,0.030796,0.335149,1.005844,0.412816,-0.536062,-0.806331,0.767431,0,0.880469,0.268487
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,-0.568019,-0.232900,-0.654143,-0.533522,0.562059,-0.853789,-1.114186,1,0.880469,-0.589690
696,1,0,0,0,-0.568019,-0.232900,0.040034,-0.263140,-1.320435,-0.853789,-0.643782,0,-0.019280,1.126663
697,1,0,0,0,-0.568019,0.335149,1.624567,-0.939096,-1.320435,-0.853789,-0.408580,1,-0.919030,-0.589690
698,0,0,0,1,-0.568019,0.335149,0.190942,-0.939096,-0.692937,-0.853789,-0.408580,1,-0.919030,-0.589690
699,0,0,0,1,-0.568019,0.335149,1.036026,0.074838,0.562059,-0.853789,-0.408580,0,-0.019280,0.268487

In [36]:
scaled_input.shape

(700, 14)

In [37]:
x_train, x_test, y_train, y_test = train_test_split(scaled_input, target, train_size = 0.6, random_state = 20)

In [38]:
reg = LogisticRegression()
reg.fit(x_train,y_train)
reg.score(x_train,y_train)

0.7619047619047619

In [39]:
model_outputs = reg.predict(x_train)
model_outputs

array([0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 0])

In [40]:
feature_name = unscaled_input.columns.values

In [41]:
summary_table = pd.DataFrame (columns=['Feature name'], data = feature_name)
summary_table['Coefficient'] = np.transpose(reg.coef_)
summary_table

               Feature name  Coefficient
0                  Reason_1     2.461347
1                  Reason_2     0.828230
2                  Reason_3     2.578594
3                  Reason_4     0.569759
4               Month Value     0.037815
5           Day of the Week    -0.025146
6    Transportation Expense     0.576106
7          Distance to Work    -0.049993
8                       Age    -0.141294
9   Daily Work Load Average    -0.051682
10          Body Mass Index     0.250808
11                Education    -0.457934
12                 Children     0.319644
13                     Pets    -0.312775

In [42]:
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]

summary_table = summary_table.sort_index()
summary_table

               Feature name  Coefficient
0                 Intercept    -1.331659
1                  Reason_1     2.461347
2                  Reason_2     0.828230
3                  Reason_3     2.578594
4                  Reason_4     0.569759
5               Month Value     0.037815
6           Day of the Week    -0.025146
7    Transportation Expense     0.576106
8          Distance to Work    -0.049993
9                       Age    -0.141294
10  Daily Work Load Average    -0.051682
11          Body Mass Index     0.250808
12                Education    -0.457934
13                 Children     0.319644
14                     Pets    -0.312775

#### Interpreting the coefficients

In [43]:
summary_table['Odds_ratio'] = np.exp(summary_table.Coefficient)

In [44]:
summary_table.sort_values('Odds_ratio', ascending=False)

               Feature name  Coefficient  Odds_ratio
3                  Reason_3     2.578594   13.178592
1                  Reason_1     2.461347   11.720583
2                  Reason_2     0.828230    2.289263
7    Transportation Expense     0.576106    1.779096
4                  Reason_4     0.569759    1.767841
13                 Children     0.319644    1.376637
11          Body Mass Index     0.250808    1.285064
5               Month Value     0.037815    1.038539
6           Day of the Week    -0.025146    0.975167
8          Distance to Work    -0.049993    0.951236
10  Daily Work Load Average    -0.051682    0.949630
9                       Age    -0.141294    0.868234
14                     Pets    -0.312775    0.731414
12                Education    -0.457934    0.632589
0                 Intercept    -1.331659    0.264039

In [45]:
reg.score(x_test,y_test)

0.7571428571428571

In [47]:
predicted_proba = reg.predict_proba(x_test)
#predicted_proba

In [48]:
predicted_proba[:,1]

array([0.257732  , 0.38492868, 0.53578299, 0.24866403, 0.90856328,
       0.69909124, 0.68557443, 0.85394273, 0.24448883, 0.25839542,
       0.43350741, 0.80385645, 0.9011497 , 0.27094595, 0.69147691,
       0.45040707, 0.43418102, 0.37588341, 0.66258338, 0.91751881,
       0.25894418, 0.25134233, 0.56507157, 0.56917608, 0.71939112,
       0.22892795, 0.52704778, 0.12177674, 0.71735167, 0.25403973,
       0.3983591 , 0.67175573, 0.66622819, 0.43692511, 0.25134233,
       0.56411942, 0.26012599, 0.73469305, 0.4585584 , 0.5860095 ,
       0.24707393, 0.43697249, 0.234106  , 0.43679214, 0.77501459,
       0.60593319, 0.74028694, 0.24329232, 0.29309703, 0.22331944,
       0.487793  , 0.31406961, 0.66200685, 0.27698927, 0.82465366,
       0.40715575, 0.86302583, 0.29292407, 0.3763565 , 0.38455241,
       0.68392876, 0.67943458, 0.2976902 , 0.73469124, 0.24343119,
       0.26227745, 0.11116478, 0.25014915, 0.74596986, 0.28124489,
       0.23816131, 0.3619239 , 0.89024625, 0.44579631, 0.58022069,
       0.25403973, 0.73843849, 0.69199548, 0.72821256, 0.66736305,
       0.26085907, 0.12024635, 0.29787529, 0.69244085, 0.46550036,
       0.1203191 , 0.69788829, 0.57058834, 0.27386543, 0.66859836,
       0.177789  , 0.16275306, 0.27508799, 0.25883881, 0.25295881,
       0.86429949, 0.26453999, 0.74775918, 0.27271372, 0.19750863,
       0.58110205, 0.67489765, 0.68865218, 0.66414003, 0.44383323,
       0.41502664, 0.25315929, 0.85919455, 0.73156421, 0.16958959,
       0.1181267 , 0.88112868, 0.63153629, 0.38929184, 0.54696736,
       0.55609629, 0.75382269, 0.81508885, 0.59869017, 0.27368344,
       0.263452  , 0.13196812, 0.79973798, 0.44974064, 0.26549331,
       0.2689391 , 0.23918877, 0.16375452, 0.68499503, 0.27124852,
       0.59933984, 0.24475516, 0.25209434, 0.28480351, 0.27242507,
       0.53491209, 0.42651924, 0.28366433, 0.28129545, 0.46781253,
       0.26732844, 0.63494757, 0.47645174, 0.50090004, 0.6123231 ,
       0.39464076, 0.44091689, 0.96191665, 0.13185015, 0.87952211,
       0.70572719, 0.70824189, 0.24610785, 0.7818039 , 0.2575508 ,
       0.27025355, 0.17212591, 0.25282081, 0.23514148, 0.60741314,
       0.50513921, 0.25134233, 0.4036184 , 0.11918881, 0.27171189,
       0.26571247, 0.2479572 , 0.68531483, 0.69145067, 0.37781372,
       0.26760544, 0.59923615, 0.18981368, 0.91709407, 0.34597748,
       0.18892957, 0.56387424, 0.26734626, 0.40160671, 0.25401917,
       0.5982221 , 0.48474401, 0.73489757, 0.9613899 , 0.41967428,
       0.44650608, 0.26784253, 0.12610769, 0.55754585, 0.85722767,
       0.44272881, 0.90512047, 0.25227749, 0.28699474, 0.1455539 ,
       0.5417867 , 0.73120085, 0.11818123, 0.44845346, 0.23072573,
       0.11133472, 0.19157098, 0.67578215, 0.12147526, 0.24602567,
       0.43872738, 0.27468797, 0.45203961, 0.17272111, 0.4000302 ,
       0.26790972, 0.60612531, 0.57757356, 0.22059633, 0.25775507,
       0.27798193, 0.89338741, 0.11084668, 0.24602355, 0.63575483,
       0.72771851, 0.69894758, 0.112027  , 0.24201143, 0.27285898,
       0.68407156, 0.5830494 , 0.26353579, 0.24733996, 0.66168021,
       0.24179786, 0.15950604, 0.59566613, 0.24442626, 0.10974915,
       0.16568003, 0.38768485, 0.53197082, 0.16375452, 0.57602296,
       0.91579982, 0.60847714, 0.69485802, 0.39730938, 0.82309648,
       0.57078173, 0.16140648, 0.19040602, 0.83505907, 0.18596928,
       0.2594915 , 0.55934744, 0.26702115, 0.83273608, 0.73094021,
       0.25675614, 0.22823516, 0.39248579, 0.6651467 , 0.87302155,
       0.88180573, 0.580687  , 0.57932062, 0.23951285, 0.16825935,
       0.90084525, 0.1245754 , 0.56588971, 0.10698884, 0.25839542,
       0.71495842, 0.25813371, 0.2732417 , 0.25039132, 0.23621027,
       0.25403973, 0.60414051, 0.26453999, 0.25222792, 0.25371458])

In [51]:
with open('model', 'wb') as file:
    pickle.dump(reg, file)

In [52]:
with open('scaler','wb') as file:
    pickle.dump(absenteeism_scaler, file)